## Inspecting the data

In [1]:
import pandas as pd

df = pd.read_csv('data.csv')
df.head()

,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,movie,Miss Jerry,Miss Jerry,0,1894,45,Romance
1,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,100,"Documentary,News,Sport"
2,movie,Bohemios,Bohemios,0,1905,100,\N
3,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70,"Action,Adventure,Biography"
4,movie,The Prodigal Son,L'enfant prodigue,0,1907,90,Drama

In [2]:
df = pd.read_csv('data.csv', na_values='\\N')
df = df.dropna(subset=['genres'])
df.head()

,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,movie,Miss Jerry,Miss Jerry,0,1894.0,45.0,Romance
1,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897.0,100.0,"Documentary,News,Sport"
3,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906.0,70.0,"Action,Adventure,Biography"
4,movie,The Prodigal Son,L'enfant prodigue,0,1907.0,90.0,Drama
5,movie,Robbery Under Arms,Robbery Under Arms,0,1907.0,NaN,Drama

In [4]:
df['genres'] = df['genres'].str.split(',')

# Use explode to transform each element of a list-like to a row, and find unique genres
df_genres = df.explode('genres')
unique_genres = df_genres['genres'].unique()
unique_genres

array(['Romance', 'Documentary', 'News', 'Sport', 'Action', 'Adventure',
       'Biography', 'Drama', 'Fantasy', 'Comedy', 'War', 'Crime',
       'Family', 'History', 'Sci-Fi', 'Thriller', 'Western', 'Mystery',
       'Horror', 'Music', 'Animation', 'Musical', 'Film-Noir',
       'Talk-Show', 'Game-Show', 'Reality-TV', 'Short', 'Adult'],
      dtype=object)